name: Build/Release

on: push

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      # This builds the .deb file using a real Linux machine
      - name: Build for Linux
        run: npm run build -- --linux deb
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # This uploads the .deb file to your GitHub Release page
      - name: Upload Artifacts
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            dist/*.deb